<div class="bs-component">
  <div class="col-sm-10 col-sm-offset-1">
    <%= bootstrap_form_for(@opinion) do |f| %>
      <%= f.text_field :name, label: "お名前", placeholder: "例)山田 太郎", required: true %>
      <%= f.text_area :opinion, label: "内容", placeholder: "例)ばかやろー！！！", required: true %>
      <div align="center">
        <%= f.submit "送信", :class => 'btn btn-lg btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
